#header
  position: relative
  margin: auto
  width: 100%
  height: 100vh
  background: url("../img/placeholder-six.jpeg")
  background-position: center
  background-size: cover
  background-repeat: no-repeat


  .overlay
    width: 100%
    height: 100%
    background: $mainAlpha
    display: flex
    justify-content: center
    flex-direction: column


    #logo
      position: fixed
      left: 0
      top: 0
      margin: $margin
      width: 4.5vw
      min-width: 50px
      height: 4.5vw
      min-height: 50px
      background: $mainBg
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      justify-self: start
      transition: all 500ms ease

      &:hover
        opacity: .8

      img
        width: 3.5vw
        min-width: 40px
        height: auto

    .sectionHeader
      margin: 1em auto

    .blurb
      margin: auto
      width: 70vw
      max-width: 95vw
      min-height: 40vh
      +cutCornerBg(true, false, false, true, 2em, $blurBg)
      background-size: 51% 51%
      background-repeat: no-repeat
      border-radius: $radius
      box-shadow: $blurbShadow

      display: flex
      justify-content: center
      flex-wrap: wrap

//Navigation class toggle
.open
  transform: rotateX(0deg) !important

//Menu Icon class toggles
.barOne
  margin-bottom: -6px !important
  transform: rotate(-45deg)

.barTwo
  display: none !important

.barThree
  margin-bottom: 0 !important
  transform: rotate(45deg)


//Responsive
@media (max-width: 750px)
  #header
    .overlay
      #logo
      .sectionHeader
        font-size: $h1 - .6
      .blurb
        width: 90vw
        padding: .5em
        h2
          font-size: $h2 - .3
        p
          font-size: $p - .4

//Responsive
@media (max-width: 580px)
  #header
    .overlay
      #logo
      .sectionHeader
        font-size: $h1 - 1
      .blurb
        padding: .5em
        h2
          font-size: $h2 - .3
        p
          font-size: $p - .4


//Responsive
@media (max-width: 430px)
  #header
    .overlay
      .sectionHeader
        margin: ($margin - .2) ($margin - .2) ($margin - .2) 0
        font-size: $h1 - 1.2
        text-align: right
      #logo
        margin: $margin / 2

      .blurb
        padding: .3em
        h2
          font-size: $h2 - .3
        p
          font-size: $p - .3
